* {
  box-sizing: border-box;
}

body {
  background-color: #e0dddd;
}

li {
  list-style-type: none;
  text-align: start;
}

.placeholder {
  display: none;
}

/* card */

.card {
  background-color:#272c27;
  color: white;
  border-radius: 10px;
  width: 400px;
  height: 100%;
  border: 2px solid black;
}

.card-body {
  padding-top: 0 !important;
}

img {
  width: 50px !important;
  height: 50px !important;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

span {
  position: absolute;
  top: 2px;
  right: 90px;
  background-color: rgb(82, 62, 62);
  border-radius: 15px;
  padding: 3px;
  font-size: 10px;
}

/* Select Option Copy Codes */



.selectdiv {  
  float: left;
  min-width: 200px;
  margin: 50px 33%;
  position: relative;
}

select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}